<%- include('header'); -%>
    
        <h1>TODO Application</h1>
        <h3>Its a nice Thrusday</h3>
        <h3> <%= day %> </h3>

        <div class="container">
            <div class="row">
              <div class="col" id="col_monday"> <!-- Monday -->
                <p class="lead">Monday</p>
                <hr> 
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
              </div>
              <div class="col" id="col_tuesday"> <!-- Tuesday -->
                2 of 2
              </div>
              <div class="col" id="col_wednesday"> <!-- Wednesday -->
                1 of 2
              </div>
              <div class="col" id="col_thrusday"> <!-- Thrusday -->
                2 of 2
              </div>
              <div class="col" id="col_friday"> <!-- Friday -->
                1 of 2
              </div>
              <div class="col" id="col_saturday"> <!-- Saturday -->
                2 of 2
              </div>
              <div class="col" id="col_sunday"> <!-- Sunday -->
                1 of 2
              </div>
            </div>
          </div>

 <%- include('footer'); -%>   
   